Box2D==2.3.10
box2d_py==2.3.8
config2class==0.3.1
einops==0.8.1
gymnasium==1.0.0
h5py==3.13.0
numpy==2.2.3
omegaconf==2.3.0
openskill==6.0.2
pandas==2.2.3
pyargwriter==1.1.2
pygame==2.6.1
pytest==8.3.4
python_bcrypt==0.3.2
reflex==0.7.0
setuptools==75.8.0
SQLAlchemy==2.0.38
stable_baselines3==2.5.0
tabulate==0.9.0
textual==2.1.1
tomli==2.2.1
torch==2.6.0
tqdm==4.67.1
Twisted==24.11.0
typer==0.15.1
variconf==1.0.1
